.header h3 {
    font-size: xx-large;
    margin: 6pt 0 0;
}
.header h4 {
    font-size: large;
    margin: 6pt 0 6pt;
}

.page-wrapper {
    width: 1024px;
    margin: 10px auto;

}
.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.attrs {
	margin: 0 0 20px 0;
	overflow: hidden;    
}
.attrs dt {
	margin: 0;
	padding: 5px 0;
	width: 200px;
	float: left;
	clear: both;
	color: #808d9a;
}
.attrs dd {
	margin: 0 0 0 200px;
	padding: 5px 0;
}

.attrs dt:after {
	content: ":";
}

.attrs dt.first:after {
	content: "";
}
